[submodule "dependencies/cppsv"]
	path = dependencies/cppsv
	url = https://github.com/Dasaav-dsv/cppsv.git
[submodule "dependencies/wintypes"]
	path = dependencies/wintypes
	url = https://github.com/Dasaav-dsv/wintypes.git
[submodule "dependencies/thirdparty/mimalloc"]
	path = dependencies/thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
